<!DOCTYPE html>
<html>

<%= render partial: "layouts/head" %>
<body>
	<%= render partial: "layouts/header" %>
	<div class="wallpaper">

		<%= yield %>
	</div>
	<div class="container">
		<%= render partial: "home/news" %>
		<%= render partial: "home/upcoming_events" %>
		<%= render partial: "home/past_events" %>

	</div>
	<%= render partial: "layouts/login_modal" %>

</body>
</html>
